.list_ahthor_bested {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.profile_user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.profile_user > span {
  padding-right: 11px;
}
.User_bested {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 11px;
  width: 100%;
  border-bottom: 0.5px solid #cccccc;
}
.profile_user > img {
  border-radius: 50%;
  width: 40px;
  order: 1;
}
.btn_follow_user {
  order: -1;
  background-color: #107abe;
  color: #fff;
  border: none;
  outline: none;
  padding: 9px;
  border-radius: 30px;
  width: 110px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 33px;
}

.btn_follow_user > svg {
  margin-right: 11px;
  margin-left: 5px;
}
