.aside_panel {
  border-left: 1px solid #bebebe;
  height: 100vh;
  width: 20%;
}

.ant-menu {
  padding: 30px 10px 30px 10px;
}

.ant-menu-item-selected {
  background-color: #188dd6 !important;
  color: #fff !important;
}

.ant-menu-item {
  font-size: 17px;
  margin: 7px 0px !important;
}

.ant-menu-item > svg,
.ant-menu-submenu-title > svg {
  font-size: 19px !important;
}
