.cssarrow {
  position: absolute;
  background: #107abe;
  top: 75px;
  width: 300px;
  height: 160px;
  left: 10px;
  z-index: 999;
  padding: 13px 3px 11px 7px;
  font-size: 14px;
}
.cssarrow > span {
  color: #fff;
  position: absolute;
  right: 13px;
}
.cssarrow:after {
  bottom: 100%;
  left: 32px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #107abe;
  border-width: 16px;
  margin-left: 0px;
}

.icon_cassarow_close {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  left: 9px;
}

.cssarrow > input {
    background-color: #4095CB;
    border: none;
    outline: none;
    position: absolute;
    top: 50px;
    right: 11px;
    color: #fff;
    border-radius: 3px;
    padding: 11px;
    width: 265px;
    height: 41px;
    direction: rtl;
}

.cssarrow > input::placeholder {
    color: #fff;
}

.btn_register_tooltip {
    color: #fff;
    position: absolute;
    bottom: 19px;
    cursor: pointer;
    left: 19px;
}